.text{
    text-align: center;
}

.form{
    margin: 30px 350px;
    background-color: #313439;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

